@use 'fonts';

$primary-color: #ffffff;
$secondary-color: #000000;
$body-text-color: #ffffff;
$heading-font-family: 'cantarellregular', helvetica, arial;
$body-font-family: helvetica,arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;