@font-face {
    font-family: 'cantarellregular';
    src: url('../fonts/arial.woff2') format('woff2'),
         url('../fonts/arial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}